@charset "UTF-8";

#navtop{
    height: 35px;
}
header{
        background-color: #C91C2B;
    
}

header .img{
 display: block;
 position: relative;
 width: 220px;
 padding: 10px 50px 10px 25px;
 border-bottom-right-radius: 100px;
 background-color: white;
}
.container-fluid{
    padding-left: 0;
}
.navbar{
    padding: 0;
}
.navbar-brand{
    padding: 0;
}
.segundanav a{
    font-weight: 500;
}
.segundanav a:hover{
    text-decoration: underline;

}
.fr{
   
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 0;
    display: flex;
}
.imgloginHeader{
    width: 70px;
    height: auto;
}
.nomeLog{
    color: white;
    margin-left: 5px;
}
#cliente{
    background-color: rgb(51, 64, 65);
    padding: 3px 10px;
    border-radius: 4px;
    color: rgb(223, 215, 204);
    margin-left: 60px;
  
}
#cliente::before{
content: "🔒 ";
padding-right: 2px;


}

#carouselExampleInterval{
    padding: 10px 40px;
  }
  